.App {
  max-width: 960px;
  margin: 0 auto;
}
body {
  background: #f8edf8;
}
a {
  color: #9670f4;
}
.App-logo {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}
.App-header {
  margin: 30px 0;
}
.App-footer {
  text-align: center;
  margin: 30px 0;
}
